<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品管理</title>
<link type="text/css" rel="stylesheet" href="/css/style1.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script>
    function updata(id){
    	alert("修改") 
    }
    function del(id){
    	alert("delete")
    }
    function batchDel(){
    	
    }
    function downShelf(){
    	
    }
    function upShelf(){
    	
    }
</script>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<div>
<a href="" class="button"><small class="icon settings"></small><span>上架</span></a>
<a href="http://google.com" class="button"><small class="icon settings"></small><span>下架</span></a>
<a href="http://google.com" class="button"><small class="icon settings"></small><span>删除</span></a>
</div>
<div id="table" class="help">
	<div class="col w10 last">
		<div class="content">
			<table>
				<tr align=LEFT>
					<th width=14% height=14%><input type="checkbox"
						id="allCheckBox" onclick="selectAll()" /></th>
					<th align=LEFT width=14% height=14%>商品图片</th>
					<th align=LEFT width=14% height=14%>商品名称</th>
					<th align=LEFT width=14% height=14%>商品类型</th>
					<th align=LEFT width=14% height=14%>商品价格</th>
					<th align=LEFT width=14% height=14%>操作</th>
				</tr>
				<tr align=LEFT th:each="product: ${productList}">
				    <td align=LEFT width=14% height=14% class="checkbox"><input type="checkbox" id="allCheckBox" /></td>
				    <td background="${product.imgUrl}" align=LEFT width=14% height=14%></td>
				    <td th:text="${product.name}" align=LEFT width=14% height=14%></td>
				    <td th:text="${product.type}" align=LEFT width=14% height=14%></td>
				    <td th:text="${product.price}" align=LEFT width=14% height=14%></td>
				    <td>
				    <a href="javascript:updata(${product.id})" class="button green">
				    <span>修改</span>
				    </a> 
				    <a href="javascript:del(${product.id})" class="button red">
				    <span>删除</span>
				    </a>
				    </td>
				</tr>

			</table>
		</div>
	</div>
</div>
</html>