<!DOCTYPE>
<html xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商品管理</title>
    <link type="text/css" rel="stylesheet" href="/css/style1.css"/>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        function updata(id) {
            alert("修改")
        }

        function del(id) {
            alert("delete")
        }

        function batchDel() {

        }

        function downShelf() {

        }

        function upShelf() {

        }
    </script>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button type="button" class="btn btn-default btn-primary" th:onclick="'upShelf();'">上架</button>
            <button type="button" class="btn btn-default btn-primary" th:onclick="'downShelf();'">下架</button>
            <button type="button" class="btn btn-default btn-danger">删除</button>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <div class="checkbox">
                        <input type="checkbox" id="select-all">
                    </div>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品价格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${productList}">
                    <div class="checkbox">
                        <input type="checkbox" th:id="${product.id}">
                    </div>
                    <td th:background="${product.imgUrl}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.type}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-warning" th:action="@{/bizManage/update}" th:object="${product}">修改</button>
                        <button type="button" class="btn btn-default btn-danger" th:action="@{/bizManage/delete}" th:object="${product}">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>