<!DOCTYPE>
<html xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商品管理</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.min.js"></script>
    <script>
        function checkOrCancelAll(){
            var isAllSelect=document.getElementById("select-all").checked;
            console.log(isAllSelect)
            var allCheck=document.getElementsByName("product-name");
            if(isAllSelect){
                for(var i=0;i<allCheck.length;i++){
                    allCheck[i].checked=true;
                }
            }else{
                for(var i=0;i<allCheck.length;i++){
                    allCheck[i].checked=false;
                }
            }
        }

        function getCheckBoxId() {
            var allCheck=document.getElementsByName("product-name");
            var checkBoxIds=new Array();
            for (var i=0;i<allCheck.length;i++){
                if (allCheck[i].checked){
                    checkBoxIds.push(allCheck[i].id);
                }
            }
            var idStr=checkBoxIds.join(',');
            return idStr;
        }

        function batchDelete() {
            var idStr=getCheckBoxId();
            $.post("/bizManage/batchDelete",{"idStr":idStr});
        }

        function del(id) {
            $.post("/bizManage/delete",{"deleteId":id})
        }

        function downShelf() {
            var idStr=getCheckBoxId();
            $.post("/bizManage/downShelf",{"idStr":idStr});
        }

        function  create() {
            var idStr=getCheckBoxId();
            $.post("/bizManage/create",{"idStr":idStr});
        }

        function upShelf() {
            var  idStr=getCheckBoxId();
            $.post("/bizManage/upShelf",{"idStr":idStr});
        }


    </script>
</head>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <button type="button" class="btn btn-default btn-primary" th:onclick="'upShelf();'">上架</button>
            <button type="button" class="btn btn-default btn-primary" th:onclick="'downShelf();'">下架</button>
            <button type="button" class="btn btn-default btn-danger" th:onclick="'batchDelete();'">删除</button>
            <button type="button" class="btn btn-default btn-danger" th:onclick="'create();'">创建</button>
            <table class="table table-bordered" id="product-table">
                <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <input type="checkbox" id="select-all" onclick="checkOrCancelAll()">
                        </div>
                    </th>
                    <th>商品图片</th>
                    <th>商品名称</th>
                    <th>商品类型</th>
                    <th>商品价格</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product: ${productList}">
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" th:id="${product.id}" name="product-name">
                        </div>
                    </td>
                    <td th:background="${product.img}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.type}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-warning" th:action="@{/bizManage/update}" th:object="${product}">修改</button>
                        <button type="button" class="btn btn-default btn-danger" th:onclick="'del('${product.id}')'">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>